@import url("https://fonts.googleapis.com/css?family=Inter");


.MainGrid {
    display: grid;
    grid-template-columns: 200px auto;
    height: 100vh;
}

.NavBar {
    grid-column: 1;
    background-color: black;
    text-align: center;
    overflow: scroll;
    /*border-top-right-radius: 10%;*/
    border-color: #64a7b8;
    border-right-width: 5px;
    /* border-top-width: 30px;*/
    grid-template-rows: 200px auto;
    height: auto;
}

.content{
    grid-column: 2;
    background-color: black;
    grid-template-rows: 200px auto;
    overflow: scroll;
    height: 100%;
}

.color {
    color: #e7ebec;
}

.title {
    text-align: center;
    font-size: 50px;
}

.titleContainer {
    grid-row: 1;
    height: 20px;
    width: auto;
    display: flex;
    justify-content: center;
}

.logo {
    grid-row: 1;
    color: #64a7b8;
    font-size: 30px;
}

/*Button styles*/

.testButtonList{
    grid-row: 2;
}

.testButton{
    width: 150px;
    height: 50px;
    background-color: #282828;
    border: #64a7b8;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.testButton:hover{
    background-color: #3f3f3f;
}

.testText{
    color: #64a7b8;
}

/*MainContent Styles*/
.testTitleContainer {
    height: 100px;
    width: auto;
    grid-row: 1;
    margin-bottom: 25px;
}

.testTitle {
    font-size: 50px;
    color: #64a7b8;
    font-weight: bolder;
    text-align: left;
    font-family: "Inter";
    margin-left: 25px;
}
.author{
    text-align: left;
    font-weight: bolder;
    color: #64a7b8;
    font-size: 30px;
    margin-left: 25px;
}

.testVeiwerContainer{
    overflow:auto;
    height: 100vh;
    display: grid;
    grid-template-rows: 500px, 1000px, 500px;
    margin-top: 100px;
    margin-left: 25px;
}

.testContainer{
    display: grid;
    grid-template-columns: 60% auto;
    grid-row: 2;
}

.frame {
    height: 700px;
    width: 100%;
    margin-left: 30px;
    grid-column: 1;
}

.feedbackContainer{
    grid-column: 2;
    display: flex;
    height: 700px;
}

.feedback{
    background-color:#3f3f3f;
    border-radius: 5px;
    justify-content: right;
    width: 80%;
    margin-left: 60px;
}

.tagContainer{
    grid-row: 3;
    display: flex;
    background-color: #3f3f3f;
}

.tags{
    background-color: #3f3f3f;
    border-radius: 10px;
    margin-top: 25px;
    min-height: 75px;
}


